<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <add key="Local Packages" value="/Users/patrick/Documents/GitHub/WoofWare.Whippet/WoofWare.Whippet/bin/Release/" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Local Packages">
      <package pattern="WoofWare.Whippet" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
